<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>questions</key>
	<array>
		<dict>
			<key>options</key>
			<array>
				<array>
					<dict>
						<key>text</key>
						<string>One</string>
						<key>correct</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>text</key>
						<string>Two</string>
					</dict>
					<dict>
						<key>text</key>
						<string>Three</string>
					</dict>
					<dict>
						<key>text</key>
						<string>Four</string>
					</dict>
				</array>
				<array>
					<dict>
						<key>text</key>
						<string>One</string>
						<key>correct</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>text</key>
						<string>Two</string>
					</dict>
					<dict>
						<key>text</key>
						<string>Three</string>
					</dict>
					<dict>
						<key>text</key>
						<string>Four</string>
					</dict>
				</array>
				<array>
					<dict>
						<key>text</key>
						<string>One</string>
						<key>correct</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>text</key>
						<string>Two</string>
					</dict>
					<dict>
						<key>text</key>
						<string>Three</string>
					</dict>
					<dict>
						<key>text</key>
						<string>Four</string>
					</dict>
				</array>
			</array>
			<key>type</key>
			<string>multipleMultipleChoice</string>
			<key>text</key>
			<string>select first option in each</string>
			<key>scoreValue</key>
			<integer>3</integer>
			<key>selectableOptions</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>options</key>
			<array>
				<array>
					<dict>
						<key>text</key>
						<string>One</string>
						<key>correct</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>text</key>
						<string>Two</string>
						<key>correct</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>text</key>
						<string>Three</string>
					</dict>
					<dict>
						<key>text</key>
						<string>Four</string>
					</dict>
				</array>
				<array>
					<dict>
						<key>text</key>
						<string>One</string>
						<key>correct</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>text</key>
						<string>Two</string>
						<key>correct</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>text</key>
						<string>Three</string>
					</dict>
					<dict>
						<key>text</key>
						<string>Four</string>
					</dict>
				</array>
				<array>
					<dict>
						<key>text</key>
						<string>One</string>
						<key>correct</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>text</key>
						<string>Two</string>
						<key>correct</key>
						<integer>1</integer>
					</dict>
					<dict>
						<key>text</key>
						<string>Three</string>
					</dict>
					<dict>
						<key>text</key>
						<string>Four</string>
					</dict>
				</array>
			</array>
			<key>type</key>
			<string>multipleMultipleChoice</string>
			<key>text</key>
			<string>select first 2 options in each</string>
			<key>scoreValue</key>
			<integer>6</integer>
			<key>selectableOptions</key>
			<integer>2</integer>
		</dict>
	</array>
</dict>
</plist>
